<!DOCTYPE html>
<html>
<head>
    <title>Intern Onboarding Guide</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Intern Onboarding Guide</h1>
        <div class="tabs">
            <a href="#company" class="tab-link active">Company Overview</a>
            <a href="#responsibilities" class="tab-link">Intern Responsibilities</a>
            <a href="#tools" class="tab-link">Tools & Technologies</a>
            <a href="#expectations" class="tab-link">Project Expectations</a>
            <a href="#save" class="tab-link">Save Conversation</a>
        </div>
        
        <div id="content" class="content">
            <!-- Content will be loaded here -->
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> 